{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logged Out</title>
    <style>
      .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        text-align: center;
      }
    </style>
    <script>
      function countdownRedirect(seconds) {
        var countdownElement = document.getElementById('countdown');
        var redirectUrl = 'http://localhost:8000/';
        var interval = setInterval(function() {
          if (seconds > 0) {
            countdownElement.textContent = seconds + ' seconds';
            seconds--;
          } else {
            clearInterval(interval);
            window.location.href = redirectUrl;
          }
        }, 1000);
      }
      
      window.onload = function() {
        countdownRedirect(5); // Set countdown duration here (in seconds)
      };
    </script>
  </head>
  <body>
    {% include "insurance/navbar.html" %}
    
    <div class="centered">
      <img src="{% static 'image/logout_img.png' %}" class="logout-image" style="width: 800px; height: 100px;">
      <p>You have been logged out. Redirecting in <span id="countdown">5 seconds</span>...</p>
    </div>

    {% include "insurance/footer.html" %}
  </body>
</html>